---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageTitle = "Tags";
const allPosts = await getCollection("posts");

// The only change is here: post.frontmatter.tags -> post.data.tags
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<BaseLayout pageTitle={pageTitle}>
    <h1>Tags</h1>
    <hr class="astro-hr" />
    <div class='tags-container'>
        {
            tags.map((tag) => (
                // Make sure this URL matches your dynamic tag page route
                <a href={`/tags/${tag}`} class='tag-item'>
                    {tag}
                </a>
            ))
        }
    </div>
</BaseLayout>
