---
import "../styles/global.css";
const pageTitle = "About";
import BaseLayout from "../layouts/BaseLayout.astro";
import Social from "../components/Social.astro";
---

<!-- <html lang='en'>
    <head>
        <meta charset='utf-8' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content={Astro.generator} />
        <!-- <title>Astro</title> --><!-- <title>{pageTitle}</title>
        <style>
            h1 {
                color: purple;
                font-size: 4rem;
            }
        </style>
    </head>
    <body>
        <a href='/'>Home</a>
        <!-- <h1>Astro</h1> --><!-- <h1>About page!</h1>
        <p>This is the about page.</p>
    </body> --><!-- </html> -->
<BaseLayout pageTitle={pageTitle}>
    <h1>About</h1>
    <hr />

    Paul is a security enginner and developer with a passion for
    「Automotive/Android/iOS/...」 . He enjoys exploring new frameworks and
    tools, and sharing his knowledge with the community through blogging and
    contributing to projects.

    <h2>Contact me</h2>
    <Social />
</BaseLayout>
