---
import "../styles/global.css";
const pageTitle = "About";
import BaseLayout from "../layouts/BaseLayout.astro";
import Social from "../components/Social.astro";
---

<BaseLayout pageTitle={pageTitle}>
    <h1>About</h1>
    <hr class='astro-hr' />

    Paul is a security enginner and developer with a passion for
    「Automotive/Android/iOS/IoT/...」. He enjoys exploring new frameworks and
    tools, and sharing his knowledge with the community through blogging and
    contributing to projects.

    <h2>Contact me</h2>
    <Social />
</BaseLayout>
