---
// import Navigation from "../components/Navigation.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home";
import Greeting from "../components/Greeting";
---

<BaseLayout pageTitle={pageTitle}>
    <!-- <h2>Testing!</h2>
    <Greeting
        client:load
        messages={["Hello, world!", "Welcome to Astro.", "Enjoy your stay!"]}
    /> -->
</BaseLayout>
