---
const platform = "github";
const username = "w3b5h3ll";
// Supports weights 100-900
import "@fontsource-variable/noto-sans-sc";
// Supports weights 300-800
import "@fontsource-variable/open-sans";
import "@fontsource/fira-mono";
---

<footer class='site-footer'>
    <div class='container'>
        <p>
            &copy; 2024 - <span id='current-year'></span> | c0r3dump | Powered by
            <strong
                ><a href='https://astro.build/' class='about-link'>Astro</a
                ></strong
            >
            <!-- Inspired by <strong -->
            <!-- ><a href='https://androidoffsec.withgoogle.com/about/' class="about-link"
                    >Android Red Team</a
                > && <a href='https://antfu.me/' class="about-link">Anthony Fu</a></strong
            > -->
        </p>
    </div>
</footer>
