---
import Navigation from "./Navigation.astro";
// import Hamburger from "./Hamburger.astro";
// import ThemeIcon from "./ThemeIcon.astro";
---

<header class='site-header'>
    <link
        rel='stylesheet'
        href='https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css'
    />
    <script
        defer
        src='https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.js'
    ></script>
    <script
        defer
        src='https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/contrib/auto-render.min.js'
        onload='renderMathInElement(document.body);'></script>

    <div class='container'>
        <div class='site-branding'>
            <a href='/' class='site-logo'>
                <span>Paul's Blog</span>
            </a>
        </div>
        <button
            id='mobile-nav-toggle'
            class='mobile-nav-toggle'
            aria-label='Toggle menu'
            aria-expanded='false'
        >
            ☰
        </button>
        <nav class='main-nav'>
            <Navigation />
        </nav>
    </div>
</header>
