---
// Social component for contact links
---

<a href='https://twitter.com/c0r3dump'>
    <i class='fa-brands fa-x-twitter'></i>
</a>

<a href='mailto:c0r3dmp@163.com'>
    <i class='fa-solid fa-envelope'></i>
</a>
