---
// import Navigation from "../components/Navigation.astro";
import Analytics from "@vercel/analytics/astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "../styles/global.css";
import BackToTop from "../components/BackToTop.astro";

// 导入本地字体，替代 Google Fonts CDN
import '@fontsource-variable/noto-sans-sc';
import '@fontsource/fira-mono';
---

<html lang='en'>
    <head>
        <meta charset='utf-8' />

        <link
            rel='alternate'
            type='application/rss+xml'
            title="Paul's Blog | Powered by Astro"
            href={new URL("/rss.xml", Astro.site).toString()}
        />

        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />

        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content={Astro.generator} />
        <title>Paul's Blog</title>

        <!-- 允许子布局注入额外的 head 内容 -->
        <slot name="head" />
    </head>
</html>
<body>
    <div class='page-wrapper'>
        <!-- <Navigation /> -->
        <Header />
        <!-- <h1>Astro</h1> -->
        <slot />
        <Footer />
        <BackToTop />
        <script>
            import "../scripts/menu.js";
            document.addEventListener("DOMContentLoaded", function () {
                const currentYearSpan = document.getElementById("current-year");
                if (currentYearSpan) {
                    currentYearSpan.textContent = String(
                        new Date().getFullYear()
                    );
                }
            });

            import { inject } from "@vercel/analytics";
            inject();
        </script>
    </div>
</body>
