---
// import Navigation from "../components/Navigation.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "../styles/global.css";

---

<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />

        <link
            rel='stylesheet'
            href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css'
        />
        <meta name='viewport' content='width=device-width' /><meta
            name='generator'
            content={Astro.generator}
        /><title>Astro</title></head
    >
</html>
<body>
    <div class='page-wrapper'>
        <!-- <Navigation /> -->
        <Header />
        <!-- <h1>Astro</h1> -->
        <slot />
        <Footer />
        <script>
            import "../scripts/menu.js";
            document.addEventListener("DOMContentLoaded", function () {
                const currentYearSpan = document.getElementById("current-year");
                if (currentYearSpan) {
                    currentYearSpan.textContent = new Date().getFullYear();
                }
            });
        </script>
    </div>
</body>
